<template>
  <div id="traffic">
    <div id="box" @click="letsGo()">
      <svg width="100%" height="100%" viewBox="0 0 500 500">
        <path
          :key="'path' + index"
          v-for="(item, index) in styleObject"
          stroke-width="7.06"
          fill="none"
          :style="{d: item.path.mainPath, stroke: item.path.colorPaht}"
        />
        <g :key="'machine' + index" v-for="(item, index) in styleObject">
          <path
            class="triangle"
            :class="{'wrrrrum': animated}"
            stroke-width="1"
            stroke="black"
            :style="item.style"
            :fill="child.fill"
            :d="child.d"
            :key="'car-part' + index"
            v-for="(child, index) in item.style.path"
          />
        </g>
      </svg>
    </div>
  </div>
</template>
<script>
export default {
  name: "traffic",
  props: {
    styleObject: {
      default: function() {
        return [];
      },
      type: Array
    }
  },
  data() {
    return {
      animated: false,
      canI: true
    };
  },
  methods: {
    letsGo() {
      if (this.canI) {
        this.canI = !this.canI;
        this.animated = !this.animated;
        setTimeout(() => {
          this.canI = !this.canI;
          this.animated = !this.animated;
        }, 10000);
      }
    }
  },
  computed: {}
};
</script>
<style lang="sass">
#box
    width: 80vh
    height: 80vh
    background-image: url("../assets/img/bcg2.png")
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    position: relative
    overflow: hidden
@keyframes sweep
  from
    motion-offset: 0%
    offset-distance: 0%
  to
    motion-offset: 100%
    offset-distance: 100%
  
.wrrrrum 
  animation-name: sweep

.triangle 
  motion-rotation: auto
  offset-rotate: auto
  animation-duration: 6s
  animation-fill-mode: forwards
  animation-iteration-count: 1
  transition-timing-function: linear
</style>
