<template>
  <div id="app">
    <traffic :styleObject="data2" />
  </div>
</template>
<script>
import traffic from "@/components/traffic";
export default {
  name: "app",
  components: { traffic },
  data() {
    return {
      staticData: [
        {
          mainPath: 'm50,320 c150,0 150,0 150,220', 
          carType: 'car', 
          carColor: 'red',
          delay: 2, 
          pathColor: 'rgba(255, 0, 0, .3)'
        },
        {
          mainPath: 'm310, 450 c0,-250 0,-250 -400,-250', 
          carType: 'car', 
          carColor: 'blue',
          delay: 1.7, 
          pathColor: 'rgba(0, 0, 255, .3)'
        },
        {
          mainPath: 'm200, 50, L200,550',
          carType: 'car', 
          carColor: 'green', 
          pathColor: "rgba(0, 255, 0, .3)",
        },
        {
          mainPath: 'm450, 200, L-100,200',
          carType: 'car', 
          carColor: 'purple',
          delay: 1, 
          pathColor: "rgba(135, 0, 135, .3)",
        },
      ],
      data2: [],
      data: [
        {
          style: {
            "motion-path": "path('m50,320 c150,0 150,0 150,220')",
            "offset-path": "path('m50,320 c150,0 150,0 150,220')",
            path: [
              {
                fill: "red",
                d: 'M 6.61,-17.87 C 6.61,-17.87 6.61,-13.87 6.61,-13.87 6.61,-13.87 -12.39,-13.87 -12.39,-13.87 -15.19,-13.87 -18.70,-14.19 -20.97,-12.28 -25.71,-8.29 -25.71,8.54 -20.97,12.53 -18.70,14.44 -15.19,14.12 -12.39,14.13 -12.39,14.13 6.61,14.13 6.61,14.13 6.61,14.13 6.61,18.13 6.61,18.13 10.11,16.88 10.76,15.16 13.67,14.43 17.32,13.53 21.90,15.13 25.48,12.53 31.05,8.48 31.19,-6.98 26.34,-11.56 20.63,-16.96 14.02,-10.07 9.61,-17.87 9.61,-17.87 6.61,-17.87 6.61,-17.87 Z M 23.61,-11.87 C 23.61,-11.87 26.61,-5.87 26.61,-5.87 23.60,-7.65 21.74,-8.34 23.61,-11.87 Z M 10.61,-9.88 C 13.48,-3.69 13.48,3.94 10.61,10.13 10.61,10.13 5.61,8.13 5.61,8.13 5.61,8.13 5.56,-8.12 5.56,-8.12 5.56,-8.12 10.61,-9.88 10.61,-9.88 Z M 26.61,6.13 C 26.61,6.13 22.61,12.13 22.61,12.13 22.65,8.16 23.27,8.10 26.61,6.13 Z',
              },
              {
                fill: "#7de5ff",
                d: 'M 24.43,-11.06 C 24.43,-11.06 27.43,-5.06 27.43,-5.06 24.41,-6.84 22.55,-7.53 24.43,-11.06 Z M 11.43,-9.06 C 14.29,-2.87 14.29,4.75 11.43,10.94 11.43,10.94 6.43,8.94 6.43,8.94 6.43,8.94 6.38,-7.31 6.38,-7.31 6.38,-7.31 11.43,-9.06 11.43,-9.06 Z M 27.43,6.94 C 27.43,6.94 23.43,12.94 23.43,12.94 23.47,8.98 24.09,8.91 27.43,6.94 Z',
              },
            ],
            animationDelay: "2s"
          },
          path: {
            colorPaht: "rgba(255, 0, 0, .3)",
            mainPath: "path('m50,320 c150,0 150,0 150,220')"
          }
        },
        {
          style: {
            "motion-path": "path('m330, 450 c0,-50 -20,-50 0,-100 c60,-100 60,-100 0,-200 c-20,-50 0,-50 0,-200')",
            "offset-path": "path('m310, 450 c0,-250 0,-250 -400,-250')",
            animationDelay: '1.7s',
            path: [
              {
                fill: "blue",
                d: 'M 6.61,-17.87 C 6.61,-17.87 6.61,-13.87 6.61,-13.87 6.61,-13.87 -12.39,-13.87 -12.39,-13.87 -15.19,-13.87 -18.70,-14.19 -20.97,-12.28 -25.71,-8.29 -25.71,8.54 -20.97,12.53 -18.70,14.44 -15.19,14.12 -12.39,14.13 -12.39,14.13 6.61,14.13 6.61,14.13 6.61,14.13 6.61,18.13 6.61,18.13 10.11,16.88 10.76,15.16 13.67,14.43 17.32,13.53 21.90,15.13 25.48,12.53 31.05,8.48 31.19,-6.98 26.34,-11.56 20.63,-16.96 14.02,-10.07 9.61,-17.87 9.61,-17.87 6.61,-17.87 6.61,-17.87 Z M 23.61,-11.87 C 23.61,-11.87 26.61,-5.87 26.61,-5.87 23.60,-7.65 21.74,-8.34 23.61,-11.87 Z M 10.61,-9.88 C 13.48,-3.69 13.48,3.94 10.61,10.13 10.61,10.13 5.61,8.13 5.61,8.13 5.61,8.13 5.56,-8.12 5.56,-8.12 5.56,-8.12 10.61,-9.88 10.61,-9.88 Z M 26.61,6.13 C 26.61,6.13 22.61,12.13 22.61,12.13 22.65,8.16 23.27,8.10 26.61,6.13 Z',
              },
              {
                fill: "#7de5ff",
                d: 'M 24.43,-11.06 C 24.43,-11.06 27.43,-5.06 27.43,-5.06 24.41,-6.84 22.55,-7.53 24.43,-11.06 Z M 11.43,-9.06 C 14.29,-2.87 14.29,4.75 11.43,10.94 11.43,10.94 6.43,8.94 6.43,8.94 6.43,8.94 6.38,-7.31 6.38,-7.31 6.38,-7.31 11.43,-9.06 11.43,-9.06 Z M 27.43,6.94 C 27.43,6.94 23.43,12.94 23.43,12.94 23.47,8.98 24.09,8.91 27.43,6.94 Z',
              },
            ]
          },
          path:{
            colorPaht: "rgba(0, 0, 255, .3)",
            mainPath: "path('m310, 450 c0,-250 0,-250 -400,-250')",
          }
        },
        {
          style: {
            "motion-path": "path('m200, 50, L200,550')",
            "offset-path": "path('m200, 50, L200,550')",
            path: [
              {
                fill: "green",
                d: 'M 6.61,-17.87 C 6.61,-17.87 6.61,-13.87 6.61,-13.87 6.61,-13.87 -12.39,-13.87 -12.39,-13.87 -15.19,-13.87 -18.70,-14.19 -20.97,-12.28 -25.71,-8.29 -25.71,8.54 -20.97,12.53 -18.70,14.44 -15.19,14.12 -12.39,14.13 -12.39,14.13 6.61,14.13 6.61,14.13 6.61,14.13 6.61,18.13 6.61,18.13 10.11,16.88 10.76,15.16 13.67,14.43 17.32,13.53 21.90,15.13 25.48,12.53 31.05,8.48 31.19,-6.98 26.34,-11.56 20.63,-16.96 14.02,-10.07 9.61,-17.87 9.61,-17.87 6.61,-17.87 6.61,-17.87 Z M 23.61,-11.87 C 23.61,-11.87 26.61,-5.87 26.61,-5.87 23.60,-7.65 21.74,-8.34 23.61,-11.87 Z M 10.61,-9.88 C 13.48,-3.69 13.48,3.94 10.61,10.13 10.61,10.13 5.61,8.13 5.61,8.13 5.61,8.13 5.56,-8.12 5.56,-8.12 5.56,-8.12 10.61,-9.88 10.61,-9.88 Z M 26.61,6.13 C 26.61,6.13 22.61,12.13 22.61,12.13 22.65,8.16 23.27,8.10 26.61,6.13 Z',
              },
              {
                fill: "#7de5ff",
                d: 'M 24.43,-11.06 C 24.43,-11.06 27.43,-5.06 27.43,-5.06 24.41,-6.84 22.55,-7.53 24.43,-11.06 Z M 11.43,-9.06 C 14.29,-2.87 14.29,4.75 11.43,10.94 11.43,10.94 6.43,8.94 6.43,8.94 6.43,8.94 6.38,-7.31 6.38,-7.31 6.38,-7.31 11.43,-9.06 11.43,-9.06 Z M 27.43,6.94 C 27.43,6.94 23.43,12.94 23.43,12.94 23.47,8.98 24.09,8.91 27.43,6.94 Z',
              },
            ],
          },
          path:{
            colorPaht: "rgba(0, 255, 0, .3)",
            mainPath: "path('m200, 50, L200,550')"
          }
        },
        {
          style: {
            "motion-path": "path('m450, 200, L-100,200')",
            "offset-path": "path('m450, 200, L-100,200')",
            stroke: "black",
            path: [
              {
                fill: "purple",
                d: 'M 6.61,-17.87 C 6.61,-17.87 6.61,-13.87 6.61,-13.87 6.61,-13.87 -12.39,-13.87 -12.39,-13.87 -15.19,-13.87 -18.70,-14.19 -20.97,-12.28 -25.71,-8.29 -25.71,8.54 -20.97,12.53 -18.70,14.44 -15.19,14.12 -12.39,14.13 -12.39,14.13 6.61,14.13 6.61,14.13 6.61,14.13 6.61,18.13 6.61,18.13 10.11,16.88 10.76,15.16 13.67,14.43 17.32,13.53 21.90,15.13 25.48,12.53 31.05,8.48 31.19,-6.98 26.34,-11.56 20.63,-16.96 14.02,-10.07 9.61,-17.87 9.61,-17.87 6.61,-17.87 6.61,-17.87 Z M 23.61,-11.87 C 23.61,-11.87 26.61,-5.87 26.61,-5.87 23.60,-7.65 21.74,-8.34 23.61,-11.87 Z M 10.61,-9.88 C 13.48,-3.69 13.48,3.94 10.61,10.13 10.61,10.13 5.61,8.13 5.61,8.13 5.61,8.13 5.56,-8.12 5.56,-8.12 5.56,-8.12 10.61,-9.88 10.61,-9.88 Z M 26.61,6.13 C 26.61,6.13 22.61,12.13 22.61,12.13 22.65,8.16 23.27,8.10 26.61,6.13 Z',
              },
              {
                fill: "#7de5ff",
                d: 'M 24.43,-11.06 C 24.43,-11.06 27.43,-5.06 27.43,-5.06 24.41,-6.84 22.55,-7.53 24.43,-11.06 Z M 11.43,-9.06 C 14.29,-2.87 14.29,4.75 11.43,10.94 11.43,10.94 6.43,8.94 6.43,8.94 6.43,8.94 6.38,-7.31 6.38,-7.31 6.38,-7.31 11.43,-9.06 11.43,-9.06 Z M 27.43,6.94 C 27.43,6.94 23.43,12.94 23.43,12.94 23.47,8.98 24.09,8.91 27.43,6.94 Z',
              },
            ],
            animationDelay: '0.5s',
          },
          path: {
            colorPaht: "rgba(135, 0, 135, .3)",
            mainPath: "path('m450, 200, L-100,200')"
          }
        },
      ]
    };
  },
  methods: {
    setMachine(machineName, machineColor) {
      if (machineName == 'car') {
        return [
          {
            fill: machineColor,
            d: 'M 6.61,-17.87 C 6.61,-17.87 6.61,-13.87 6.61,-13.87 6.61,-13.87 -12.39,-13.87 -12.39,-13.87 -15.19,-13.87 -18.70,-14.19 -20.97,-12.28 -25.71,-8.29 -25.71,8.54 -20.97,12.53 -18.70,14.44 -15.19,14.12 -12.39,14.13 -12.39,14.13 6.61,14.13 6.61,14.13 6.61,14.13 6.61,18.13 6.61,18.13 10.11,16.88 10.76,15.16 13.67,14.43 17.32,13.53 21.90,15.13 25.48,12.53 31.05,8.48 31.19,-6.98 26.34,-11.56 20.63,-16.96 14.02,-10.07 9.61,-17.87 9.61,-17.87 6.61,-17.87 6.61,-17.87 Z M 23.61,-11.87 C 23.61,-11.87 26.61,-5.87 26.61,-5.87 23.60,-7.65 21.74,-8.34 23.61,-11.87 Z M 10.61,-9.88 C 13.48,-3.69 13.48,3.94 10.61,10.13 10.61,10.13 5.61,8.13 5.61,8.13 5.61,8.13 5.56,-8.12 5.56,-8.12 5.56,-8.12 10.61,-9.88 10.61,-9.88 Z M 26.61,6.13 C 26.61,6.13 22.61,12.13 22.61,12.13 22.65,8.16 23.27,8.10 26.61,6.13 Z',
          },
          {
            fill: "#7de5ff",
            d: 'M 24.43,-11.06 C 24.43,-11.06 27.43,-5.06 27.43,-5.06 24.41,-6.84 22.55,-7.53 24.43,-11.06 Z M 11.43,-9.06 C 14.29,-2.87 14.29,4.75 11.43,10.94 11.43,10.94 6.43,8.94 6.43,8.94 6.43,8.94 6.38,-7.31 6.38,-7.31 6.38,-7.31 11.43,-9.06 11.43,-9.06 Z M 27.43,6.94 C 27.43,6.94 23.43,12.94 23.43,12.94 23.47,8.98 24.09,8.91 27.43,6.94 Z',
          },
        ]
      }
    },
    createData(mainPath, carType, carColor, delay, pathColor) {
      let newItem = {
        style: {
          "motion-path": "path('"+ mainPath +"')",
          "offset-path": "path('"+ mainPath +"')",
          stroke: "black",
          path: this.setMachine(carType, carColor),
          animationDelay: delay + 's',
        },
        path: {
          colorPaht: pathColor,
          mainPath: "path('"+ mainPath +"')"
        }
      }
      return newItem
    }
  },
  mounted() {
    this.staticData.forEach((item) => {
      this.data2.push(this.createData(item.mainPath, item.carType, item.carColor, item.delay, item.pathColor))
    });
  },
  computed: {}
};
</script>
<style lang="sass">
  #app
    width: 100vw
    height: 100vh
</style>
